{% include base_path %}
<div class="masthead__menu">
  <nav id="site-nav" class="greedy-nav">
    <ul class="visible-links">
      {% for link in site.data.navigation.main %}
        {% if link.sublinks %}
          <li class="masthead__menu-item has-dropdown">
            <a href="{{ domain }}{{ link.url }}">{{ link.title }}</a>
            <ul class="dropdown-content">
              {% for sublink in link.sublinks %}
                <li><a href="{{ domain }}{{ sublink.url }}">{{ sublink.title }}</a></li>
              {% endfor %}
            </ul>
          </li>
        {% else %}
          <li class="masthead__menu-item">
            <a href="{{ domain }}{{ link.url }}">{{ link.title }}</a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </nav>
</div>

