{% include base_path %}
<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <button><div class="navicon"></div></button>
        <ul class="visible-links">
          <li class="masthead__menu-item masthead__menu-item--lg">{{ site.title }}</li>
          <li class="masthead__menu-item has-dropdown" id="applications-dropdown">
            Applications
            <ul class="dropdown-content">
              <li>App 1</li>
              <li>App 2</li>
              <li>App 3</li>
            </ul>
          </li>
          <!-- Other menu items -->
        </ul>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>
